.authorization__link {
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  transition: opacity .3s linear;
  position: absolute;
  top: 445px;
  text-decoration: none;
}

.authorization__link:hover {
  opacity: .6;
  cursor: pointer;  
}

@media screen and (max-width: 500px) {
  .authorization__link {
    top: 390px;
  }
}